.main{
  background-image: url(https://images.squarespace-cdn.com/content/v1/5acd6b71da02bcf0fc160fce/1530042443340-4JVT1P6F8G2LJCASBEAC/banner-3.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
    
}


/* .header{
  padding: 30px 0;
  width: 100%;

} */

.nav{
  color: white;
  font-family: proxima-nova;
  font-weight: 1000;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

 .logo{
  width: 180px;
  max-width: 180px;
  height: auto;
}

.home{
  width: 13px;
  height: auto;
  color: whitesmoke;
}

.content{
  position: absolute;
  top: 45%;
  color: white;
  
}

.content h1{
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  word-wrap: normal;
  line-height: 1.1em;
  letter-spacing: 0em;
  text-transform: none;
  width: 60%;
}

.content h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 1.4em;
  letter-spacing: .07em;
  text-transform: uppercase;
}

.nav,a{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 20px;
  cursor: pointer;
} 

.button{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 13px 26px;
  border-radius: 300px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  height: 50px;
  width: 230px;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.button-logo{
  width: 10px;
  height: auto;
  color: white;
}

.services{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  letter-spacing: .3px;
  width: 100%;
  margin-top: 50px;

  
}

.services-logo {

  width: 280px;

  
}

.machine{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #5c5c5c;
}

.fold{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #5c5c5c;
}

.discount{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #5c5c5c;
}

.services-content {
  max-width: 60%;
}

.info{
  background-image: url(https://images.squarespace-cdn.com/content/v1/5acd6b71da02bcf0fc160fce/1530037912556-1TP4TRNY5WKOMDIO91Q0/banner-5.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  color: white;
  flex-direction: column;
  font-size: 32px;
  align-items: center;
}

.info-h2{
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  word-wrap: normal;
  line-height: 1.1em;
  letter-spacing: 0em;
  text-transform: none;
  
}

.info-strong{
  font-size: 15px;
}

.info-content1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  margin-top: 100px;
  width: 50%;

}

.wifi-logo,
.air-logo,
.seat-logo,
.table-logo,
.charger-logo{
  display: flex;
  flex-direction: row;
  width: 130px;
  height: auto;
  color: white;

}

.info-content1,h3{
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4em;
  gap: 20px;
  overflow-wrap: break-word;
}

.test{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 20%;
}

.info-content2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  margin-top: 50px;
  width: 50%;

}

.reviews{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}


.reviews-h2{
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: 0em;
  margin-top: 100px;
  text-align: center;
  color: #5c5c5c;
}

.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: .07em;
  gap: 50px;
  color: #000000;
}
.stars{
  max-width: 100px;
}

.google{
  max-width: 30px;
}
.date{
  justify-content: center;
  align-items: left;
}
.p{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: .07em;
  text-align: left;
}
.comments p {
 max-width: 500px;
}

.questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  color: #5c5c5c;
  background-color: #ecf1f8;
  max-width: 100%;
}
.questions-h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1em;
  text-align: center;
  color: #5c5c5c;
  margin-top: 100px;
  
}
.answers{
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin-bottom: 50px;
}
.one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 50%;
  align-items: start;
  margin-left: 300px;
}
.two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 50%;
  align-items: start;
}
.plus{
color: #C23F3E
}

.one h2, .two h2{
  font-weight: 400;
}

.contact{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #5c5c5c;
}

.map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 70%;
}
.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 30%;
  align-items: start;
  margin-left: 50px;
}
.contact-h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1em;
  text-align: center;
  color: #5c5c5c;
  margin-top: 100px;
}
.contact-info p{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: .07em;
  text-align: left;
}

.map-img{
  max-width: 70%;
}
.facebook{
  max-width: 30px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: white;
  margin-top: 50px;
  width: 100%;
  background-color: #c23f3e;
  width: 100%;
}
.footer img{
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.footer p{
  margin-top: 50px;
}